@import './base.css';

* {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

.container {
  width: 100%;
  max-width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}