@import './base.css';

* {
    font-family: 'Nunito', sans-serif;
    font-size: 14px;
}

.container {
    width: 100%;
    max-width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

html {
    overflow-x: hidden;
    margin-right: calc(-1 * (100vw - 100%));
}